.ant-layout {
  height: 100%;
}

.ant-layout-content {
  margin: 50px 50px 0;
  padding: 24px;
  background: #fff;
}

.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}